@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
/* #3d6ef3 */
:root{
    --body-color: #E4E9F7;
    --nav-color: #242B2E;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

.body.dark{
    --body-color: #18191A;
    --nav-color: #0D0D0D;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}