.coursesBody {
    margin: 95px 0 0 25px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    margin-top: 75px;
  }
  